#TENEIS QUE CREAR UN ARCHIVO .ENV EN LA RAIZ DEL PROYECTO CON LOS DATOS DE TU CONEXION PARA AZURE 

AZURE_CONN_STR=TU_CONEXION
AZURE_CONTAINER=TU_CONTENEDOR
AZURE_BLOB_NAME=TU_BLOB


EJEMPLO:
AZURE_CONN_STR=DefaultEndpointsProtocol=https;AccountName=nombreDelContenedor;AccountKey=TuClave==;EndpointSuffix=core.windows.net
AZURE_CONTAINER=corpus 
AZURE_BLOB_NAME=hacker_total.txt